/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #a7a5b9dc;
    text-align: center;
}

/* Center the main content */
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for headings */
h1 {
    color: #333;
    font-size: 37px;
    margin-bottom: 20px;
}

/* Style for form container */
.form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 4px;
}

/* Style for labels */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Style for file input */
input[type="file"] {
    display: none;
}

/* Style for buttons */
.button {
    transition: transform 0.2s ease-in-out;
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for buttons */
.button:hover {
    transform: scale(1.05);
    background-color: #0056a4;
}

/* Style for horizontal rule */
hr {
    height: 1px;
    border-width: 0;
    border-top: 2px dashed rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
}

.file-input{
    padding: 10px;
    cursor: pointer;
    outline: 1px dotted #000;
    border-radius: 2pt;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.error {
    background-color:#ffecec;
    border:1px solid #f5aca6;
}
