body {
    font-family:'Courier New', Courier, monospace;;
    width:auto;
    height: 100vh;
    background-color: #ffffff;
    transition: background-color 0.4s ease-in-out;
}

.container,
.forms{
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.choice {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

span{
    font-size: 30px;
}

#upload_div,
#download_div{
    width:40%;
    border: #fff 2px;
    border-radius: 5px;
    background-color: #c90000;;
}

#upload,
#download{
    width:100%;
    height: 100%;
    background-color: #c90000;
    border: 0px;
    border-radius: 2px;
    transition: transform 0.2s ease-in-out;
}

#upload:hover,
#download:hover{
    border: 0px;
    background-color:#e40000;
    color: #fff;
    font-weight: 200;
    border-radius: 5px;
    transform: scale(1.2);
}


h1 {
    color: #000000;
    font-size: 28px;
}

.download-form,
.upload-form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: none;
    text-align: center;
    transition: transform 0.4s ease-in-out;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="file"] {
    display: none;
}

.file-input {
    transition: transform 0.2s ease-in-out;
    background-color: #c90000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.file-input:hover {
    transform: scale(1.2);
    background-color: #e40000;
}

input[type="submit"] {
    background-color: #c90000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]
{
    transition: transform 0.2s ease-in-out;
}

input[type="submit"]:hover {
    transform: scale(1.2);
    background-color: #e40000;
}

hr{
    height:1px;
    border-width:0;
    border-top: 2px dashed rgb(0, 0, 0);
}

.forms,
#upload_form,
#download_form{
    display: none;
    transition: opacity 0.5s ease-in-out;
}

h2 {
    margin-top: 20px;
}

#back_div{
    justify-content: center;
}

#back{
    background:#e40000 ;
    border: 0px;
    border-radius: 4px;
    padding: 5px 10px ;
    transition: transform 0.2s ease-in-out;
}

#back:hover{
    transform: scale(1.2);
    background-color: darkred;
}