/* Reset default styles and set up the document layout */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: nowrap;
}

/* Container Styles */
.container {
    text-align: center;
    background-color: #ffffff;
    border: 5px solid #000; /* You can use shorthand for black color */
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}

/* Heading Styles */
#heading h1 {
    font-size: 24px;
}

/* Choice Styles */
.choice {
    margin-top: 20px;
}

/* Upload and Download Button Styles */
#upload_div, #download_div {
    display: inline-block;
    margin: 0 10px;
}

#upload:hover, #download:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.2);
    transition: transform 0.125s ease-in-out;
}

/* Button Styles */
input[type="button"] {
    border-radius: 15%;
    border-color: #fff; /* You can use shorthand for white color */
}

/* Header Styles */
h1 {
    font-size: 20px;
}

/* File Input Styles */
.file-input {
    margin-top: 10px;
}

/* Form Styles */
.upload-form, .download-form {
    background-color: #ffffff;
    border: 5px solid #000;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}

/* Additional Styles */
#back_div {
    text-align: left;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}
