body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: nowrap;

    flex-direction: column-reverse;
  }
  
  .container {
    text-align: center;
    background-color: #ffffff;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;

  }
  
  #heading h1 {
    font-size: 24px;
  }
  
  .choice {
    margin-top: 20px;
  }
  
  #upload_div,
  #download_div {
    display: inline-block;
    margin: 0 10px;

  }
  
  .forms {
    display: none;
  }
  
  #back_div {
    text-align: left;
  }
  

  
  #upload:hover,
  #download:hover {
    background-color: rgb(255, 0, 0);
    transform:scale(1.2);
    transition : transform 0.125s ease-in-out;
      
  }
  input[type="button"]{
    border-radius: 15%;
    border-color: #ffffff;

  }

  h1 {
    font-size: 20px;
  }
  
  .file-input {
    margin-top: 10px;
  }

  .upload-form{

    background-color: #ffffff;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
  }

  .download-form{

    background-color: #ffffff;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
  }

