/* Reset default styles */

/* Global styles */
body {
    background: linear-gradient(to right, #7896b7, #7d868b);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Header styles */
  h1 {
    font-size: 36px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
    margin: 0;
    text-align: center;
  }
  
  /* Form container styles */
  .form-container {
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(79, 170, 170, 0.5);
    border-top: 1px solid #4faaaa;
    max-width: 400px;
    background: #fff;
  }
  
  /* Field styles */
  .field {
    margin: 20px;
  }
  
  /* Input styles */
  .field input[type="text"] {
    font-size: 16px;
    line-height: 24px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    outline: none;
    background: #f0f0f0;
  }
  
  /* Submit button styles */
  .field input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    outline: none;
    width: 100%;
  }
  
  /* Label styles */
  .field label {
    font-size: 1.3rem;
    color: #555;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* Animated text styles */
  .animated-text {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    color: #007BFF;
  }
  
  /* Center-align label text */
  .text-center {
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
  }
  
  .text-center span {
    font-weight: 700;
  }
  
  /* Gradient animation */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Media Query for Small Screens */
  @media (max-width: 768px) {
    body {
      flex-direction: column;
      justify-content: start;
      background: white;
    }
    h1 {
      margin-bottom: 2rem;
      margin-top: 4rem;
    }
  }
  